h1{
    color: white;
    background-color: black;
}
p{
    color: white;
    background: green;
}
body{
    //background-image: url("images/worldmap.png");
    background-repeat: no-repeat;
    background-size: cover;
}
h2{
/*
    border-color: red;
    border-width: 5px;
    border-style: dashed;
*/
    //border: 2px solid red;
    border-style: solid;
    border-left-width: 10px;
    border-right-width: 50px;
    border-color: red;
}